<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlwansdk.dao.UserGroupRoleMapper">
  <resultMap id="BaseResultMap" type="com.xlwansdk.pojo.db.UserGroupRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <id column="r_id" jdbcType="INTEGER" property="rId" />
  </resultMap>
</mapper>